# Binaries
smoothscan
src/smoothscan-fontgen.py
*.o

# autotools
configure
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
stamp-h1

# emacs
\#*#
*~

